archive
archive2
watermark_detector_sequential_mobilenetv2.h5
watermark-detection.ipynb
test
dataset
dataset - Copy
DataSet_logo-20241114T092024Z-001
alsoug_size_images
Dodge تشارجر RT موديل 1971 322239349 _ Shobbak Saudi Arabia_files
haraj_full_size_images
haraj_full_size_images
photots with logo #2-20241113T080432Z-001
dataset.zip
datasetV1.zip
datasetv2.zip
watermark_detector_sequential_mobilenetv2_last_L1_retrained.keras
watermark_detector_sequential_mobilenetv2_last_L1.keras
watermark_detector_sequential_mobilenetv2_last_L2_datesetNew.keras
watermark_detector_sequential_mobilenetv2_last_L2_datesetNew (1).keras
watermark_detector_sequential_mobilenetv2.keras
watermark_detector_sequential_mobilenetv2_last.keras
watermark_detector_sequential_mobilenetv2_last_L2_L1_datesetNewV2.keras
watermark_detector_sequential_mobilenetv2_last_L2.keras
watermark_detector_sequential_mobilenetv2.keras
